<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Premium Book Shop</title>
    <link rel="stylesheet" href="/styles/main.css" />
    <style>
      body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        margin: 0;
        padding: 0;
      }

      .book-list {
        text-align: center;
        margin-top: 20px;
      }

      h1,
      h2,
      h3,
      h4,
      h5,
      h6 {
        margin: 8px;
      }

      h3 {
        color: #333;
      }

      h4 {
        color: #555;
      }

      h5 {
        color: #777;
      }

      p {
        color: #777;
      }

      .book-container {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        gap: 20px;
        justify-content: center;
        padding: 20px;
      }

      .book-card {
        border: 1px solid #ddd;
        border-radius: 10px;
        padding: 20px;
        background-color: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        transition: transform 0.2s ease-in-out;
      }

      .book-card:hover {
        transform: translateY(-5px);
      }

      .book-card img {
        max-width: 100%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        aspect-ratio: 4/3;
      }

      .book-card h3 {
        font-size: 1.5rem;
        margin-top: 10px;
      }

      .book-card p {
        margin: 5px 0;
      }

      .add-book-button {
        background-color: #007bff;
        color: #fff;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        cursor: pointer;
        font-weight: bold;
        font-size: 1rem;
        transition: background-color 0.3s;
        margin-top: 20px;
      }

      .add-book-button:hover {
        background-color: #0056b3;
      }
    </style>
  </head>
  <body>
    <center>
      <%- include('components/header') %>

      <main>
        <section class="book-list">
          <h2>📖 Available Books</h2>

          <% if (books.length > 0) { %>
          <!-- Display books if available -->
          <div class="book-container">
            <% books.forEach((book) => { %>
            <div class="book-card">
              <img src="<%= book.image %>" alt="<%= book.title %>" />
              <h3><%= book.title %></h3>
              <h4><%= book.author %></h4>
              <h4 style="color: brown">$<%= book.price %></h4>
              <p><%= book.description %></p>
            </div>
            <% }); %>
          </div>
          <% } else { %>
          <!-- Display message if no books available -->
          <p>🙁 No books available.</p>
          <% } %>

          <button class="add-book-button" onclick="location.href='/addBook'">
            Add Book
          </button>
        </section>
      </main>
      <%- include('components/footer') %>
    </center>
  </body>
</html>
